<style>
  label {
    color: #fff;
    
  }
  em{
    color: #d9d9d9;
  }
</style>
<div class="container">
  <div class="row" style="margin-top: 150px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="devise_title" style="color: #fff;">
        <h2>회원정보 수정하기 <%= resource_name.to_s.humanize %></h2>
        <br/>
      </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
        
        <div class="field form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class:"form-control" %>
        </div>
        
        <div class="field form-group">
          <%= f.label :school %><br />
          <%= f.text_field :school, class:"form-control",placeholder:"서울과기대/동덕여대/성신여대/한성대" %>
        </div>   
        
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:"form-control" %>
          </div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="field form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
          </div>
        
          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
          </div>
        
          <div class="field form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Update", class:"btn btn-primary" %>
          </div>
        <% end %>
        
        <h3>Cancel my account</h3>
        
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        
        <span style="float: right;"><%= link_to "Back", :back %></span>
    </div>
  </div>
</div>
